<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At omnis aliquam debitis nihil itaque magnam quos delectus consequuntur in reprehenderit? Cumque nobis quam quasi maxime neque odit, quaerat dolore non?</p>
    </mat-card-content>
    <mat-card-actions align="start">
        
    </mat-card-actions>
    <mat-card-footer>
        Footer
    </mat-card-footer>
</mat-card>