.mat-toolbar{
    background: rgb(53,67,171);
    background: linear-gradient(129deg, rgba(53,67,171,1) 0%, rgba(32,40,103,1) 73%, rgba(23,29,75,1) 100%);
}

a{
    color: #fff;
    padding: 3px 4px 3px 4px;
    text-decoration: none!important;
}